@import "../../constants/Color/variable.css";
.signin-signup {
  background: var(--primary-background);
  left: 50%;
  width: 36vw;
  height: 500px;
  position: fixed;
  top: 0;
  margin-top: 40px;
  transition: all 0.5s ease;
  z-index: 101;
}

.signin-container {
  width: 100%;
  height: 100%;
}

.auth-form {
  margin: 0 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-title {
  font-size: 2.2rem;
  color: var(--text-title);
}

.form-input {
  margin-top: 45px;
}

.input-field {
  background-color: transparent;
  display: grid;
  grid-template-rows: 50% 50%;
  height: 60px;
  margin: 20px 0;
  position: relative;
  width: 100%;
}

.form-label {
  color: var(--primary-text);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.input-field input {
  background: transparent;
  border-bottom: 1px solid #999;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: var(--primary-text);
  font-size: 18px;
  outline: none;
}

.form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.form-linking {
  color: var(--blend-mode);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.auth-btn-submit {
  background-color: var(--text-title);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-size: 16px;
  height: 50px;
  text-transform: uppercase;
  width: 150px;
}
.modal-footer button {
  background: var(--text-title);
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  margin-left: auto;
  outline: none;
}

.signin_link {
  color: var(--blue-light);
  cursor: pointer;
  text-decoration: none;
}
.validate-error {
  color: red;
}
@media screen and (max-width: 1024px) {
  .signin-signup {
    width: 45vw;
  }
}

@media screen and (max-width: 876px) {
  .signin-signup {
    width: 60vw;
  }
}

@media screen and (max-width: 575px) {
  .signin-signup {
    width: 65vw;
  }
}

@media screen and (max-width: 450px) {
  .signin-signup {
    width: 85vw;
  }

  .auth-form {
    margin: 0 20px;
  }
}
