.form-title-signup {
  font-size: 2.2rem;
  color: var(--text-title);
}

.form-input-signup {
  margin-top: 20px;
}

.form-submit-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.signup-header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}