.card {
    overflow: hidden;
    margin-bottom: 30px;
    padding-top: 32.6px;
    padding-left: 35.75px;
    padding-right: 35.75px;
    width: 286px;
    height: 427.4px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.card:hover {
    background-color: antiquewhite;
    color: #FFFFFF;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.ItemImg {
    width: 214.5px;
    height: 214.5px;
    object-fit: cover;
}

.ItemTxt {
    background-color: cyan;
}

.ItemTxt > h5 {
    background-color: crimson;
    font: normal normal bold 24px/30px Bellota Text;
    letter-spacing: 0.6px;
    color: #524D4B;
    text-transform: capitalize;
}

.ItemTxt > p {
    padding-top: 0px;
    font: normal normal bold 24px/30px Bellota Text;
    letter-spacing: 0.6px;
    color: #7C7B7B;
}