.groupCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 24px; */
  width: 100%;
  padding: 20px;
}

.groupCard .card-wrapper {
  padding: 15px 15px;
  width: 25%;
}
.card-wrapper:hover {
  transform: scale(1.03);
  transition: all 0.1s ease-out;
}

.card {
  padding: 20px 15px;
  min-width: 225px;
  min-height: 315px;
  max-height: 400px;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.card:hover {
  background-color: #cfc7bc;
  color: #ffffff;
  cursor: pointer;
}
.card-img {
  width: 100%;
  height: 100%;
}

.card-img img {
  width: 100%;
  height: 220px;
}

.ItemTxt {
  padding-top: 20px;
  margin: 0 auto;
}
.ItemTxt > h5 {
  font: normal normal bold 20px/30px Bellota Text;
  letter-spacing: 0.6px;
  color: var(--primary-text);
  text-transform: capitalize;
}

.ItemTxt > p {
  display: -webkit-box;
  color: #1b1b1b;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 8%;
  font: normal normal 16px Bellota Text;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.ItemTxt > h4 {
  padding-top: 9%;
  font: normal normal bold 20px Bellota Text;
  letter-spacing: 0.6px;
  color: var(--primary-text);
}

.card_btn {
  background-color: white;
  border: none;
  color: var(--text-title);
  padding: 16px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Bellota Text", cursive;
  cursor: pointer;
  margin-bottom: 30px;
  width: 100%;
  min-width: 225px;
}

.card_btn:hover {
  color: white;
  background-color: var(--text-title);
}

@media screen and (max-width: 1024px) {
  .groupCard .card-wrapper {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .groupCard .card-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 568px) {
  .groupCard .card-wrapper {
    width: 100%;
  }
  .card {
    max-height: 500px;
  }
  .card-img {
    height: 100%;
  }
  .card-img img {
    height: 275px;
  }
}
