@import "../../constants//Color/variable.css";
.filter {
  background: var(--primary-background);
  left: 0;
  width: 35vw;
  height: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-header > h1 {
  color: var(--text-title);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
}

.filter-group-product {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.filter-group-price {
  height: 40px;
  margin-top: 3.5%;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0;
  border-bottom: 1px solid var(--underline);
}

.filter-title > p {
  text-align: start;
  font: normal normal bold 18px/27px Bellota Text;
  color: var(--primary-text);
  text-transform: uppercase;
}

.filter-icon > img {
  width: 30px;
  height: 20px;
}

.list {
  display: grid;
  margin-right: 15px;
}
.list-type {
  border-bottom: 1px solid var(--underline);
  padding-bottom: 9px;
}
.list > .btn-list {
  display: flex;
  background: var(--primary-background);
  /* border: none; */
  margin-left: 15px;
  margin-bottom: 1.5%;
  width: 100%;
}

.list > .btn-list > label {
  display: block;
  position: relative;
  padding-left: 45px;
  text-align: left;
  font: normal normal bold 18px/30px Bellota Text;
  letter-spacing: 1.2px;
  color: #524d4b;
  cursor: pointer;
}

.list > .btn-list > input {
  margin-right: 20px;
  margin-top: 3.75px;
  height: 20px;
  width: 20px;
}

.group-input {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  border-bottom: 1px solid var(--underline);
  height: 58px;
}

.btn-list label {
  text-transform: uppercase;
}

.custom-checkbox {
  margin-right: 20px;
  margin-top: 3.75px;
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: solid 1px var(--text-title);
}
.btn-list input[type="checkbox"] {
  visibility: hidden;
}

.btn-list:hover input ~ .custom-checkbox {
  background-color: #e5e1df;
}

.btn-list input:checked ~ .custom-checkbox {
  background-color: #966a57;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.btn-list input:checked ~ .custom-checkbox:after {
  display: block;
}

.btn-list .custom-checkbox:after {
  left: 6px;
  bottom: 5px;
  width: 3px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.price {
  width: 100%;
  text-align: center;
}
.price > input {
  font: normal normal bold 18px/27px Bellota Text;
  letter-spacing: 1.2px;
  color: #524d4b;
  text-align: center;
  width: 80%;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  outline: none;
}

.price > input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.line > h2 {
  margin: 0;
  font: normal normal bold 50px/40px Bellota Text;
  color: #524d4b;
}

.filter-group-btn {
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  justify-content: space-between;
  margin: 0 15px 30px;
}

.btn-clear {
  background-color: var(--primary-background);
  border: 1px solid var(--text-title);
  color: var(--text-title);
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Bellota Text", cursive;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-apply {
  background-color: var(--text-title);
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Bellota Text", cursive;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .filter {
    width: 40vw;
  }
}

@media screen and (max-width: 876px) {
  .filter {
    width: 50vw;
  }
}

@media screen and (max-width: 568px) {
  .filter {
    width: 70vw;
  }

  .btn-clear {
    padding: 8px 20px;
    font-size: 14px;
  }

  .btn-apply {
    padding: 8px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .filter {
    width: 80vw;
  }

  .btn-clear {
    padding: 8px 20px;
    font-size: 14px;
  }

  .btn-apply {
    padding: 8px 20px;
    font-size: 14px;
  }
}
