@import "../../constants//Color/variable.css";
.filter {
  background: var(--primary-background);
  left: 0;
  width: 30vw;
  height: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  z-index: 101;
}

.filter > h1 {
  color: var(--text-title);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
}

.filter-group-product {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.filter-group-price {
  height: 40px;
  margin-top: 3.5%;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid var(--underline);
}

.filter-title > p {
  text-align: start;
  font: normal normal bold 18px/27px Bellota Text;
  color: var(--primary-text);
  text-transform: uppercase;
}

.filter-icon > img {
  width: 30px;
  height: 20px;
}

.list {
  display: grid;
  margin-right: 15px;
}
.list-type {
  border-bottom: 1px solid var(--underline);
  margin: 0 15px;
  padding-bottom: 9px;
}
.list > .btn-list {
  display: flex;
  background: var(--primary-background);
  border: none;
  margin-left: 5%;
  margin-bottom: 1.5%;
  width: 50%;
}

.list > .btn-list > label {
  text-align: left;
  font: normal normal bold 18px/30px Bellota Text;
  letter-spacing: 1.2px;
  color: #524d4b;
}

.list > .btn-list > input {
  margin-right: 20px;
  margin-top: 3.75px;
  height: 20px;
  width: 20px;
}

.list > .btn-list > input[type="checkbox"]:checked {
  background-color: #966a57;
}

.group-input {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid var(--underline);
  height: 58px;
}

.btn-list label {
  text-transform: uppercase;
}
.price > input {
  font: normal normal bold 18px/27px Bellota Text;
  letter-spacing: 1.2px;
  color: #524d4b;
  text-align: center;
  width: 160px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  outline: none;
}

.price > input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.line > h2 {
  margin: 0;
  font: normal normal bold 50px/40px Bellota Text;
  color: #524d4b;
}

.filter-group-btn {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 30px;
  gap: 62px;
}

.btn-clear {
  background-color: var(--primary-background);
  border: 1px solid var(--text-title);
  color: var(--text-title);
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Bellota Text", cursive;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-apply {
  background-color: var(--text-title);
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Bellota Text", cursive;
  cursor: pointer;
  text-transform: uppercase;
}
