.title {
  padding-top: 30px;
}

.title-head {
  align-items: center;
}

.title-head-name {
  text-align: center;
  color: var(--text-title);
}

.title-content {
  padding-bottom: 30px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.title-content-left {
  display: flex;
  align-items: center;
}

.title-content-left > h6 {
  margin-left: 15px;

  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
  text-transform: uppercase;
}
.title-content-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-content-right > p {
  text-align: center;
  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
}

.title-content-right > strong {
  margin: 0 20px;
  text-align: center;
}

.title-content-right > h6 {
  text-align: center;
  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
  text-transform: uppercase;
}
