.title {
  padding-top: 30px;
}

.title-head {
  align-items: center;
}

.title-head-name {
  color: var(--text-title);
  text-align: center;
}

.title-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.title-content-left {
  display: flex;
  align-items: center;
}

.title-content-left > h6 {
  margin-left: 15px;
  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
  text-transform: uppercase;
}
.title-content-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-content-right > p {
  text-align: center;
  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
}

.title-content-right > strong {
  margin: 0 20px;
  text-align: center;
}

.default {
  border: none;
  text-align: center;
  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
  background: #F5F2F0 0% 0% no-repeat padding-box;
}

.default:focus{
  outline: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}




