.title {
  padding-top: 30px;
}

.title-head {
  align-items: center;
}

.title-head-name {
  color: var(--text-title);
  text-align: center;
}

.title-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.title-content-left {
  display: flex;
  align-items: center;
}

.title-content-left > h6 {
  margin-left: 15px;
  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
  text-transform: uppercase;
}
.title-content-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-content-right > p {
  text-align: center;
  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
}

.title-content-right > strong {
  margin: 0 20px;
  text-align: center;
}

.default {
  width: 20.9vh;
  height: 5vh;
  padding: 1vh 0;
  text-align: center;
  font: normal normal bold 18px/22px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
}

.groupDefaut {
  cursor: pointer;
  display: flex;
}

.groupPrice {
  position: absolute;
  right: 150px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  z-index: 1;
  height: 14vh;
  width: 24vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.groupPrice p {
  cursor: pointer;
  margin: 3vh 1vh;
  text-align: center;
  font: normal normal bold 16px/18px Bellota Text;
  letter-spacing: 0.45px;
  color: #524d4b;
}

.groupPrice p:hover{
  color: #cfc7bc;
  cursor: pointer;
}
