@import "../../constants/Color/variable.css";
header {
  height: 120px;
  padding: 20px 20px 18px;
  width: 100%;
  /* display: inline-block; */
}
.navigation-bar {
  height: 60px;
  max-width: 1280px;
  margin: 0 auto;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo,
.nav-link,
.drop-link {
  color: #966a57;
  text-decoration: none;
  cursor: pointer;
}

.navbar-logo {
  font-size: 45px;
  font-weight: bold;
  margin-left: 7px;
}

.nav-link {
  font-size: 20px;
  position: relative;
}

.dropdown-menu {
  text-align: center;
  position: absolute;
  font-size: 14px;
  top: 1.2rem;
  background-color: var(--primary-background);
  box-shadow: 0 3px 5px var(--blend-mode);
  border-radius: 10px;
  width: max-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.01s ease-in-out;
}

.shop {
  left: -160%;
}

.about {
  left: -180%;
}

.icon {
  right: 0px;
  top: 30px;
}

.hover-menu:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transition: all 0.01s ease;
}

.hover-user {
  padding-bottom: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.hover-user:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transition: all 0.01s ease;
}

.dropdown-menu li {
  list-style: none;
  padding: 0.5rem;
  border-radius: 2px;
  transition: background-color 0.01s ease-in-out;
}

.dropdown-menu li:hover,
.dropdown-menu li:focus {
  background-color: var(--primary-footer);
}

.navbar-logo:hover,
.nav-link:focus {
  color: #966a57;
}

.navbar-right {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  list-style: none;
  align-items: center;
  margin-bottom: 0 !important;
}

.navbar-icon {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 15px;
  align-items: center;
}

.image-icon {
  cursor: pointer;
}

.item-icon {
  margin-right: 17px;
  position: relative;
}

.btn-number-cart-item {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  border-radius: 100rem;
  background-color: white;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  color: var(--text-title);
}

.avatar-user {
  width: 30px;
  height: 30px;
  background-color: var(--text-subTitle);
  border-radius: 100rem;
}

.img-hover {
  width: 40px;
  height: 40px;
  margin-right: 9px;
}

.cart {
  left: -18em;
  z-index: 5;
}

.hover-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  cursor: pointer;
}

.hover-flex:hover {
  background-color: var(--primary-footer);
}

.cart-hover-info p {
  font-size: 14;
}

.sub-hover-flex {
  display: flex;
  align-items: flex-start;
  text-align: initial;
}
.cart-hover-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-hover-btn {
  background-color: var(--text-title);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: "Bellota Text", cursive;
  cursor: pointer;
}
