@import "../../constants/Color/variable.css";
header {
  height: 120px;
  padding: 20px 20px 18px;
  width: 100%;
  /* display: inline-block; */
}
.navigation-bar {
  height: 60px;
  max-width: 1280px;
  margin: 0 auto;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .navbar-left {
  height: 70px;
} */
.navbar-logo,
.nav-link {
  color: #966a57;
  text-decoration: none;
  cursor: pointer;
}

.navbar-logo {
  font-size: 45px;
  font-weight: bold;
  margin-left: 7px;
}

.nav-link {
  font-size: 20px;
  position: relative;
  padding-bottom: 15px;
}

.dropdown-menu {
  text-align: center;
  position: absolute;
  font-size: 16px;
  top: 2rem;
  background-color: var(--primary-background);
  box-shadow: 0 3px 5px var(--blend-mode);
  border-radius: 10px;
  width: max-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

.shop {
  left: -91%;
}

.about {
  left: -105%
}

.hover-menu:hover .dropdown-menu{
  opacity: 1;
  visibility: visible;
}

.dropdown-menu li {
  list-style: none;
  padding: 0.5rem;
  border-radius: 2px;
  transition: background-color 200ms ease-in-out;
}

.dropdown-menu li:hover, .dropdown-menu li:focus {
  background-color: var(--primary-footer);
}

.navbar-logo:hover,
.nav-link:focus {
  color: #966a57;
}

.navbar-right {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  list-style: none;
  align-items: center;
  margin-bottom: 0 !important;
}

.navbar-icon {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 15px;
  align-items: center;
}

.image-icon {
  cursor: pointer;
}

.item-icon {
  margin-right: 17px;
}

.avatar-user {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 100rem;
}
