:root {
  --primary-text: #524d4b;
  --primary-background: #f5f2f0;
  --text-title: #966a57;
  --text-subTitle: #ada293;
  --primary-footer: #e5e1df;
  --blend-mode: #707070;
  --blue-light: #4c8dfb;
  --underline: #B7B6B6;
}
