@import "../../constants/Color/variable.css";
footer {
  height: 300px;
  width: 100%;
  background-color: var(--primary-footer);
  padding: 0 100px;
}

footer .footer-content {
  align-items: flex-start;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  max-width: 991px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.col-top {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.col-bottom .col-cate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col-bottom {
  margin-top: 10px;
}

.link-cate {
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--primary-text);
  font-size: 15px;
  text-decoration: none;
}

.link-cate:hover {
  color: var(--primary-text);
}

@media only screen and (min-width: 575px) and (max-width: 991px) {
  /* footer {
    height: 250px;
    width: 100%;
    padding: 55px 110px;
    background-color: var(--primary-footer);
  } */

  footer .footer-content {
    max-width: 768px;
  }
}

@media only screen and (max-width: 575px) {
  footer {
    padding: 0;
  }

  footer .footer-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }

  .footer-col {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
  }

  .col-top {
    text-align: center;
    font-size: 16px;
  }

  .col-bottom {
    flex: auto;
  }

  .link-cate {
    margin-bottom: 0;
    margin: 8px 0;
    font-size: 14px;
  }
}
