@import "../../constants/Color/variable.css";
.search-box {
  background: var(--primary-background);
  left: 50%;
  transform: translate(-50%, 0vh);
  width: 760px;
  height: auto;
  position: fixed;
  top: 20px;
  transition: all 0.5s ease;
}
.search-text {
  padding: 20px 55px 0;
}
.icon-close-search {
  position: absolute;
}
.search-main {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.search-input {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.search-input input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-text);
  width: 100%;
}

.search-result {
  /* height: 200px; */
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-index {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.product-index:hover {
  background-color: #e9e7e4;
}
.product-image {
  width: 100%;
  height: 100%;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: fill;
}

.product-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-name {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 876px) {
  .search-box {
    width: 85%;
  }
}

@media screen and (max-width: 575px) {
  .search-box {
    width: 85%;
  }
  .info-name {
    display: -webkit-box;
    color: #1b1b1b;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font: normal normal 18px Bellota Text;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .info-desc {
    display: -webkit-box;
    color: #1b1b1b;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font: normal normal 14px Bellota Text;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .item-image {
    width: 80px;
    height: 80px;
    object-fit: fill;
  }
}
