.delivery_wrapper {
    margin-left: 206px;
    margin-right: 206px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.delivery_title {
    color: var(--text-title);
    text-align: center;
}

.delivery_content {
    margin-top: 50px;
}

.delivery_subwrapper {
    margin-top: 32px;
    line-height: 1.5;
}