.contact {
  max-width: 462px;
  margin: 0 auto;
}
.contact h1 {
  color: var(--text-title);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.contact p {
  font: normal normal 18px/30px Bellota Text;
  color: #524d4b;
}

.contact form {
  /* padding: 0 524px; */
  box-sizing: border-box;
}

form .contact-txt_field {
  position: relative;
  margin: 30px 0;
}

.contact-txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font: normal normal bold 18px/55px Bellota Text;
  letter-spacing: 0.75px;
  color: #524d4b;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid var(--underline);
}

.contact-txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font: normal normal bold 15px/55px Bellota Text;
  letter-spacing: 0.75px;
  color: #524d4b;
  pointer-events: none;
}

.contact-txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #966a57;
}

.contact-txt_field input:focus ~ label,
.contact-txt_field input[type="email"]:invalid ~ label,
.contact-txt_field input:valid ~ label {
  top: -5px;
  color: #966a57;
}
.contact-txt_field input:focus ~ span::before,
.contact-txt_field input[type="email"]:invalid ~ span::before,
.contact-txt_field input:valid ~ span::before {
  width: 100%;
}

.contact .submit {
  margin-bottom: 30px;
  margin-left: 80%;
  width: 20%;
  height: 50px;
  border: 1px solid;
  background: #966a57;
  font: normal normal bold 18px/27px Bellota Text;
  letter-spacing: 0.27px;
  color: #f2efed;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.contact .submit:hover {
  border-color: #966a57;
  transition: 0.5s;
}

.contact-fullName {
  display: flex;
  justify-content: space-between;
}

.contact-message {
  display: grid;
  margin-bottom: 40px;
}
.contact-message label {
  font: normal normal bold 15px/27px Bellota Text;
  letter-spacing: 0.75px;
  color: #524d4b;
  text-transform: uppercase;
}

.contact-message textarea {
  resize: none;
  margin-top: 15px;

  padding: 15px;
  border: none;
  height: 12vw;
  text-align: start;
  font: normal normal bold 18px/20px Bellota Text;
  letter-spacing: 0.75px;
  color: #524d4b;
}

.contact-message textarea:focus {
  outline: none !important;
  border: 2px solid #966a57;
}

@media only screen and (max-width: 575px) {
  .contact {
    max-width: 90%;
    margin: 0 auto;
  }

  .contact h1 {
    color: var(--text-title);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
  }

  .contact p {
    font: normal normal 15px/20px Bellota Text;
    color: #524d4b;
    padding-bottom: 15px;
  }
  .contact-fullName {
    display: flex;
    flex-direction: column;
  }

  .contact-txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font: normal normal bold 12px/40px Bellota Text;
    letter-spacing: 0.75px;
    color: #524d4b;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid var(--underline);
  }

  .contact-txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font: normal normal bold 12px/40px Bellota Text;
    letter-spacing: 0.75px;
    color: #524d4b;
    pointer-events: none;
  }
  form .contact-txt_field {
    position: relative;

    margin: 20px 0;
  }
  .contact-message label {
    font: normal normal bold 13px/27px Bellota Text;
    padding-left: 5px;
    letter-spacing: 0.75px;
    color: #524d4b;
    text-transform: uppercase;
  }

  .contact-message textarea {
    resize: none;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 8px;
    border: none;
    height: 15vh;
    text-align: start;
    font: normal normal bold 12px/20px Bellota Text;
    letter-spacing: 0.75px;
    color: #524d4b;
  }
  .contact .submit {
    margin-bottom: 30px;
    margin-left: 70%;
    width: 30%;
    height: 40px;
    border: 1px solid;
    background: #966a57;
    font: normal normal bold 15px/27px Bellota Text;
    letter-spacing: 0.27px;
    color: #f2efed;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }
}
