.checkout-wrapper {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 3vw;
  padding: 0;
}

.checkout-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12rem;
  margin-bottom: 18px;
}
/* 
.checkout-left {
  width: 45.375rem;
} */

.checkout-title {
  color: var(--text-title);
  text-align: center;
}

.checkout-link {
  text-decoration: none;
  color: var(--primary-text);
  font-weight: bold;
}

.checkout-arrow-icon {
  width: 18px;
  margin-bottom: -4px;
}

.checkout-view-cart {
  border: 1px solid var(--primary-text);
  background-color: white;
  padding: 27px 27px 5px 27px;
  margin-bottom: 27px;
  /* height: auto; */
  /* width: 45.375rem; */
}

.checkout-cart-info {
  display: flex;
  justify-content: space-between;
}

.checkout-cart-info-style {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.checkout-cart-info-btn {
  width: 24px;
  height: 24px;
  background-color: var(--primary-background);
  border: solid 1px var(--underline);
  cursor: pointer;
}

.checkout-cart {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.checkout-cart td:nth-child(3) {
  padding-right: 0;
}

.checkout-info-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 9px;
}

.checkout-btn {
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.checkout-info-title-btn {
  background-color: var(--primary-background);
  border: solid 1px var(--blend-mode);
  color: var(--blend-mode);
}

.checkout-info-wrapper {
  margin-bottom: 27px;
  border-bottom: 1px solid var(--underline);
  padding-bottom: 27px;
}

.checkout-info-content {
  margin: 0 90px 20px 18px;
}

.checkout-info-content-btn {
  background-color: var(--text-title);
  border: none;
  color: white;
}

.checkout-subtitle {
  font-size: 14px;
}

.checkout-btn-continue {
  text-align: right;
}

.checkout-info-input {
  margin-top: 9px;
  border: none;
  border-bottom: solid 1px var(--underline);
  background-color: var(--primary-background);
  height: 27px;
  width: 100%;
  font-family: "Bellota Text", cursive;
  font-size: 16px;
}

.checkout-info-input:focus {
  outline: none;
}

.checkout-group-button {
  margin-top: 18px;
}

.container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 16px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--primary-background);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--text-title);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.checkout-summary {
  border: 1px solid var(--primary-text);
  height: max-content;
  background-color: white;
  padding: 27px;
  margin-bottom: 27px;
  /* width: 26rem; */
}

.checkout-summary-title {
  font-weight: bold;
  margin-bottom: 18px;
}

.checkout-summary-content {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--underline);
}

.checkout-btn-bigger {
  width: 100%;
  padding: 16px 36px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.checkout-right-flex {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.checkout-more-space {
  margin-bottom: 9px;
}

.checkout-table-tbody {
  overflow-y: scroll;
}

.checkout-right-content {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

@media only screen and (max-width: 1366px) {
  .checkout-wrapper {
    padding: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .checkout-wrapper {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    padding: 15px;
  }

  .checkout-header {
    gap: 0;
    margin-bottom: 9px;
  }

  .checkout-link,
  .checkout-table-tbody p,
  td {
    font-size: 10px;
  }

  .checkout-title {
    font-size: 21px;
  }

  .checkout-cart-info-style h3,
  .checkout-summary-title,
  .checkout-right-flex {
    font-size: 12px;
  }

  .checkout-cart-info-style h5,
  .checkout-subtitle,
  .checkout-info-content-btn,
  .checkout-info-title-btn {
    font-size: 9px;
  }

  .checkout-view-cart {
    padding: 14px 14px 5px 14px;
    margin-bottom: 14px;
    /* width: 23.375rem; */
  }

  .checkout-cart-info-btn {
    width: 16px;
    height: 16px;
  }

  .checkout-cart {
    border-spacing: 0 7px;
  }

  .checkout-table-tbody td {
    font-size: 12px;
    padding-right: 10px;
  }

  .checkout-info-wrapper {
    margin-bottom: 21px;
    padding-bottom: 21px;
  }

  .checkout-info-title h3,
  .checkout-info-wrapper h3 {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .checkout-info-content {
    margin: 0 77px 14px 11.5px;
  }

  .checkout-info-input {
    height: 12px;
    font-size: 10px;
  }

  .checkout-btn,
  .checkout-btn-bigger {
    padding: 10px 23px;
  }

  .checkout-info-after p {
    font-size: 10px;
    margin-bottom: 3px;
    padding-left: 12px;
  }

  .container {
    padding-left: 21px;
    margin-bottom: 14px;
    font-size: 10px;
  }

  .checkmark {
    height: 14px;
    width: 14px;
  }

  .container .checkmark:after {
    top: 2.99px;
    left: 3.5px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
  }

  .checkout-summary {
    padding: 14px;
    /* width: 17rem; */
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .checkout-wrapper {
    margin: 0 auto;
    max-width: 550px;
    flex-direction: column;
    padding: 15px;
  }

  .checkout-view-cart {
    width: 100%;
  }

  .checkout-title {
    font-size: 24px;
  }

  .checkout-header {
    margin-bottom: 9px;
  }

  .checkout-cart colgroup col:nth-child(1) {
    width: 5% !important;
  }
  .checkout-cart colgroup col:nth-child(2) {
    width: 80% !important;
  }

  .checkout-summary {
    width: 100%;
    margin-bottom: 18px;
  }
}

.checkout-container {
  padding-left: 0.88235rem;
  padding-right: 0.88235rem;
}

.checkout-container .row {
  margin-left: 0.88235rem;
  margin-right: 0.88235rem;
  display: flex;
  flex-wrap: wrap;
}

.checkout-left-bk {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.checkout-right-bk {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@media (max-width: 991px) {
  .checkout-left-bk {
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .checkout-right-bk {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 40%;
    max-width: 40%;
  }
}

@media (max-width: 575px) {
  .checkout-container .row {
    margin-left: -0.88235rem;
    margin-right: -0.88235rem;
    display: flex;
    flex-wrap: wrap;
  }
  .checkout-left-bk {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .checkout-right-bk {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
