@import "../../constants/Color/variable.css";
.intro-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 50px auto 0;
}

.intro-title {
  margin-bottom: 10px;
}

.intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 75%;
}
.intro-title-name {
  text-transform: uppercase;
  color: var(--text-title);
}

.intro-content-text {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
