@import "../../constants/Color/variable.css";

.marketing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  top: -146px;
}

.marketing-title {
  margin: 65px 0;
  /* text-align: center; */
}

.marketing-title-name {
  text-transform: uppercase;
  color: var(--text-subTitle);
}

.marketing-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.marketing-child-card {
  width: 33.33%;
  height: auto;
  cursor: pointer;
  padding: 20px;
}
.marketing-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.marketing-img {
  width: 100%;
  height: 300px;
}
.marketing-img img {
  width: 100%;
  height: 100%;
}

.marketing-script {
  text-align: center;
  margin-top: 15px;
}
.marketing-script p {
  color: var(--text-title);
}
@media screen and (max-width: 768px) {
  .marketing-child-card {
    width: 100%;
  }
  .marketing-img {
    max-width: 300px;
  }
}

@media screen and (max-width: 568px) {
}
