@import "../../constants/Color/variable.css";

.loader {
  height: 450px;
  /* width: 100%; */
}

.loader-box {
  /* left: 50%; */
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  /* transform: translateX(-50px); */
}

.circle-loading {
  display: inline-flex;
  animation: loading 1s infinite;
}

.child {
  width: 30px;
  height: 30px;
  border: 2px solid var(--blend-mode);
  border-radius: 50%;
  margin: 0 5px;
}

@keyframes loading {
  50% {
    transform: rotate(200deg);
  }
  75% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
