.cart_wrapper {
  max-width: 80%;
  margin: 0 auto;
}
.cart-table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.cart_title {
  color: var(--text-title);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.cart-table-header,
.cart-table-body {
  border-bottom: 1px solid var(--underline);
}

.cart-table-body:hover {
  background-color: var(--primary-footer);
}

.cart-table-header th:nth-child(1),
.cart-table-body td:nth-child(1) {
  text-align: start;
}

.cart-table-header th:nth-child(2),
.cart-table-body td:nth-child(2) {
  text-align: end;
}

.cart-table-header th:nth-child(3) {
  text-align: center;
}

.cart-table-header th:nth-child(4),
.cart-table-body td:nth-child(4) {
  text-align: end;
}

.cart-table-body-product {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  /* width: 100%; */
}
.cart-table-body-product-image {
  width: 120px;
  height: 120px;
  cursor: pointer;
}
.cart-table-body-product-content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-table-body-product-content .cart-table-body-product-content-name {
  font-size: 20px;
  cursor: pointer;
}

.cart-table-body-product-content .cart-table-body-product-content-remove {
  border-bottom: 1px solid var(--underline);
  width: max-content;
  font-size: 14px;
  color: var(--underline);
  cursor: pointer;
  /* text-align: end !important; */
}

.cart-table-body-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-table-body-quantity button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.cart-table-body-quantity button:hover {
  background-color: var(--underline);
}

.cart-table-body-quantity p {
  padding-top: 8px;
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: white;
}

.cart-total-checkout td {
  text-align: end;
  padding: 30px 0;
}
.cart-total-checkout td h3 {
  margin-bottom: 42px;
}

table {
  border-collapse: collapse;
}

th {
  padding-bottom: 15px;
}
.cart-empty-image {
  width: 200px;
  height: 200px;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  padding: 20px;
}

.cart-empty-msg {
  text-align: center;
  color: var(--text-title);
  margin-bottom: 45px;
  margin-top: 12px;
}

@media only screen and (max-width: 991px) {
  .cart-table-body-product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  .cart-table-body-product-content .cart-table-body-product-content-name {
    font-size: 16px;
  }

  .cart-table-body-quantity p {
    padding-top: 5px;
    font-size: 14px;
    width: 24px;
    height: 24px;
  }

  .fz-price {
    font-size: 14px;
  }

  .cart-table-body-quantity button {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 575px) {
  .cart_title {
    font-size: 21px;
    margin-top: 14px;
    margin-bottom: 12px;
  }

  .cart-table-body-product-content .cart-table-body-product-content-name {
    font-size: 13px;
    line-height: 1.15;
  }

  .fz-price {
    font-size: 13px;
  }

  .col-total-item {
    margin-left: 12px;
  }

  .col-price-item {
    display: none;
  }

  .cart-table-body-product-image {
    width: 55px;
    height: 55px;
    object-fit: cover;
  }

  .cart-table-body-quantity button {
    width: 14px;
    height: 24px;
  }

  .cart-empty-image {
    width: 180px;
    height: 180px;
  }

  .cart-empty-msg {
    font-size: 20px;
  }

  .cart-table-body-product-content {
    margin-left: 8px;
    margin-right: 9px;
  }

  .fz-price {
    margin-left: 9px;
  }
}