@import "../../constants//Color/variable.css";
.modal-wrapper {
  background: var(--primary-background);
  left: 50%;
  margin: 4rem auto;
  width: 645px;
  height: 635px;
  padding: 28px 40px 56px 30px;
  position: absolute;
  top: 10%;
  transition: all 0.5s ease;
}

.modal-header {
  align-items: center;
  color: var(--text-title);
  display: flex;
  justify-content: space-between;
}

.modal-content {
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-body h4 {
  font-size: 1.8rem;
  color: #dd501d;
}

.modal-body p {
  background: #eee;
  color: #333;
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
}

.modal-footer button {
  background: var(--text-title);
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  margin-left: auto;
  outline: none;
}
