@import "../../constants//Color/variable.css";

.detail {
  padding-top: 5vh;
  padding-bottom: 2vw;
}

.detail-contain {
  display: flex;
  padding: 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.detail-contain .detail-img {
  flex: 50%;
  height: 80%;
}

.detail-contain .detail-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detail-contain .detail-contain-right {
  flex: 50%;
  margin-left: 50px;
}

.detail-contain .detail-contain-right h2 {
  text-align: left;
  font: normal normal bold 30px Bellota Text;
  letter-spacing: 1.05px;
  color: #524d4b;
  text-transform: capitalize;
}

.detail-contain-right-price {
  padding-top: 30px;
  text-align: left;
  font: normal normal bold 21px Bellota Text;
  letter-spacing: 0.48px;
  color: #524d4b;
}

.detail-contain-right-quantity {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  text-align: center;
  /* margin-bottom: 5vh; */
}

.detail-contain-right-quantity p {
  padding-top: 8px;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: white;
  font-size: 18px;
}

.detail-contain-right-quantity button {
  width: 36px;
  height: 36px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.detail-contain-right-quantity button:hover {
  background-color: var(--underline);
}

.detail-contain-right-button {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
}

.add {
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  margin-right: 5vh;
  background: #e5e1df 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal bold 16px/27px Bellota Text;
  letter-spacing: 0.27px;
  color: #966a57;
  text-transform: uppercase;
}

.buy {
  border: none;
  cursor: pointer;
  background: #966a57 0% 0% no-repeat padding-box;
  padding: 12px 24px;
  text-align: center;
  font: normal normal bold 16px/27px Bellota Text;
  letter-spacing: 0.27px;
  color: #f2efed;
  text-transform: uppercase;
}

.detail-contain-right-group {
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detail-title-group {
  text-align: left;
  font: normal normal bold 18px/27px Bellota Text;
  letter-spacing: 0.36px;
  color: #524d4b;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.detail-title-group-container {
  width: 100%;
  text-align: left;
  font: normal normal bold 18px Bellota Text;
  letter-spacing: 0.27px;
  color: #524d4b;
  padding-bottom: 3vh;
  border-bottom: 1px solid var(--underline);
}

.detail-title-group-container a {
  color: var(--text-title);
}

.more-products {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
}

.title-more-product {
  text-align: left;
  font: normal normal bold 30px Bellota Text;
  letter-spacing: 0.63px;
  color: #524d4b;
  text-transform: capitalize;
  margin-bottom: 3vh;
  margin-left: 20px;
}

.detail-groupCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail-card-wrapper {
  padding: 15px 15px;
  width: 25%;
}

.detail-card {
  padding: 20px 15px;
  min-width: 225px;
  min-height: 315px;
  /* max-height: 400px; */
  width: 100%;
  background-color: white;
}

.detail-card:hover {
  background-color: #cfc7bc;
  color: #ffffff;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.1s ease-out;
}

.detail-card-img {
  width: 100%;
  height: 100%;
}

.detail-card-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.detail-ItemTxt h5 {
  padding-top: 1vh;
  height: 9vh;
  text-align: left;
  font: normal normal bold 20px Bellota Text;
  letter-spacing: 0.6px;
  color: #524d4b;
  text-transform: capitalize;
  overflow: visible;
  margin-bottom: 5px;
}

.detail-ItemTxt h6 {
  text-align: left;
  margin: 0;
  font: normal normal bold 18px/30px Bellota Text;
  letter-spacing: 0.6px;
  color: #7c7b7b;
}

.labelQuantity {
  padding-top: 30px;
  text-align: left;
  font: normal normal bold 14px Bellota Text;
  letter-spacing: 0.6px;
  color: #524d4b;
  text-transform: uppercase;
}

@media only screen and (min-width: 991px) and (max-width: 1366px) {
  .detail-contain .detail-img img {
    width: 100%;
  }

  .detail-contain-right-quantity {
    /* margin-bottom: 1.8vh; */
  }

  .detail-contain-right-button {
    margin-bottom: 40px;
    width: 100%;
  }

  .add {
    font: normal normal bold 16px/20px Bellota Text;
  }

  .buy {
    font: normal normal bold 16px/20px Bellota Text;
  }

  .detail-contain-right-group {
    width: 100%;
  }

  .detail-title-group-container {
    width: 100%;
    padding-bottom: 1.5vh;
  }
}

@media only screen and (min-width: 575px) and (max-width: 991px) {
  .detail {
    padding-top: 3vh;
  }

  .detail-contain .detail-img {
    height: 430px;
  }

  .detail-contain .detail-img img {
    width: 100%;
  }

  .detail-contain .detail-contain-right {
    margin-left: 25px;
  }
  .detail-contain .detail-contain-right h2 {
    font: normal normal bold 30px Bellota Text;
  }

  .detail-contain-right-price {
    font: normal normal bold 21px Bellota Text;
  }

  .labelQuantity {
    padding-top: 20px;
  }

  .detail-contain-right-quantity {
    margin-top: 1vh;
    /* margin-bottom: 3vh; */
  }

  .detail-contain-right-button {
    /* margin-top: 50px; */
    width: 100%;
  }

  .add {
    padding: 8px 12px;
    margin-right: 20px;
    font: normal normal bold 16px/18px Bellota Text;
  }

  .buy {
    padding: 8px 12px;
    font: normal normal bold 16px/18px Bellota Text;
  }

  .detail-contain-right-group {
    width: 100%;
  }

  .detail-title-group {
    font: normal normal bold 16px/27px Bellota Text;
  }

  .detail-title-group-container {
    width: 100%;
    font: normal normal bold 18px Bellota Text;
    padding-bottom: 1.5vh;
  }
}

@media screen and (max-width: 922px) {
  .detail-card-wrapper {
    width: 50%;
  }

  /* .detail-card {
    max-height: 500px;
  } */

  .detail-card-img {
    height: 100%;
  }
  .detail-card-img img {
    height: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .detail {
    padding-top: 1.5vh;
    padding-bottom: 2vw;
  }
  .detail-contain {
    display: flex;
    flex-direction: column;
  }
  .detail-contain .detail-img {
    height: 350px;
    width: 100%;
  }

  .detail-contain .detail-img img {
    margin-left: 0;
    /* height: 350px; */
    width: 100%;
  }

  .detail-contain .detail-contain-right {
    margin-left: 0;
    margin-top: 2vh;
    /* padding: 0 15px; */
  }

  .detail-contain .detail-contain-right h2 {
    font: normal normal bold 30px Bellota Text;
  }

  .detail-contain-right-price {
    padding-top: 20px;
    font: normal normal bold 18px Bellota Text;
  }

  .labelQuantity {
    padding-top: 20px;
  }

  .detail-contain-right-quantity {
    /* margin-bottom: 2vh; */
  }

  .detail-contain-right-button {
    margin-top: 40px;
    margin-bottom: 25px;
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
  }

  .add {
    padding: 4px 12px;
    margin-right: 0;
    font-size: 16px;
  }

  .buy {
    padding: 4px 12px;
    font-size: 12px;
  }

  .detail-contain-right-group {
    margin-top: 3vh;
    width: 100%;
  }

  .detail-title-group {
    font: normal normal bold 15px/25px Bellota Text;
  }

  .detail-title-group-container {
    width: 100%;
    font: normal normal bold 16px Bellota Text;
    padding-bottom: 2vh;
  }

  .title-more-product {
    font: normal normal bold 30px Bellota Text;
  }

  .detail-ItemTxt h5 {
    padding-top: 1vh;
    height: 5vh;
    font: normal normal bold 18px Bellota Text;
  }

  .detail-ItemTxt h6 {
    font: normal normal bold 16px Bellota Text;
  }

  .detail-card-wrapper {
    width: 100%;
  }

  .detail-card-img {
    height: 100%;
  }
  .detail-card-img img {
    height: 80%;
  }
}
